@model Student.Models.Test

@{
    ViewBag.Title = "GoTest";
}

@Html.DisplayNameFor(model => model.name)
<form action="/Manage/GoTest" method="post">
    <input id="names" name="names" type="text" value="" />
    <input type="submit" />
</form>

<h2>GoTest</h2>


